<div class="container">
  <app-recipe-search></app-recipe-search>       
  <div class="row">
      <div class="col">
          <ul class="list-group" >
            <h4 class="card-header border border-secondary rounded">Our recipes</h4>
            <li class="list-group-item"
              *ngFor="let recipe of listrecipes | search:searchStr"
              [class.active]="recipe===selectedRecipe"           
              (click)="onSelect(recipe)"
              appHover>
              <img class="img-thumbnail rounded float-left" src={{recipe.image}} alt="Image">
              <h5>{{recipe.name}}</h5>
              <p class="card-text">Description: {{recipe.description}}</p>
            </li>
          </ul>
      </div>
      <div class="col" >
         <app-item-details  [(recipe)]="selectedRecipe" [(listrecipes)]="listrecipes"></app-item-details>
         <button type="button"
                 class="btn btn-success mt-3"
                 [class.disabled]="!selectedRecipe"
                 id="new-recipe-button"
                 (click) ="newRecipe()">New Recipes</button>
         <button type="button"
               [class.disabled]="!selectedRecipe||selectedRecipe.ingredients.length===0"
               class="btn btn-success mt-3 ml-3"
               id="new-recipe-button"
               (click) ="buyIngredients()">Buy Ingredients</button>    
      </div>
    </div>
  </div>

