
<div class="container">
    <button type="button"
            class="btn btn-success mt-5 mb-3"
            id="new-recipe-button"
           (click) ="newRecipe()">New Recipes</button>
    <div class="row">
      <div class="col">
          <ul class="list-group" >
            <h4 class="card-header border border-secondary rounded">Our recipes</h4>
            <li class="list-group-item"
              *ngFor="let recipe of listrecipes"
              [class.active]="recipe===selectedRecipe"
              (click)="onSelect(recipe)"
              >
              <h5 >{{recipe.name}}</h5>
              <p class="card-text">Description: {{recipe.description}}</p>
            </li>
          </ul>
      </div>
      <div class="col">
         <app-item-details [recipe]="selectedRecipe"></app-item-details>
      </div>
    </div>
  </div>

