<div class="container mt-5">
    <ul class="list-group">
        <div class="card-header bg-secondary mt-5">
           Ingredients
        </div>
        <li class="list-group-item list-group-item-action" 
            *ngFor="let item of ingredients"
             appHover>
             <div class="row">
                 <div class="col-10">
                     <h5 class="mb-1 text-capitalize">{{item.name}}</h5> 
                     <p class="mb-1">{{item.description?item.description:"Not Description"}}</p>
                 </div>
                 <div class="col-2 ">
                        <button class="btn btn-secondary remove-button mt-2" type="button" (click)="removeItem(item)">Remove</button>
                 </div>  
             </div>
        </li>
  </ul>
</div>
