<div class="container">
  <form class="mt-4">
    <div class="form-row">
      <div class="col">
        <label class="ml-2">Name</label>
        <input type="text" class="form-control" placeholder="Name" value="{{selectedItem.name}}" #name>
      </div>
      <div class="col-2">
        <label class="ml-2">Amount</label>
        <input type="number" class="form-control" placeholder="Amount" value="{{selectedItem.amount}}" #amount>
      </div>
    </div>
  </form>
  <div class="mt-3">
    <button *ngIf="selectedItem" type="submit" class="btn btn-success mr-4" (click)="name.value='';amount.value='';selectedItem=undefined">New Item</button>
    <button *ngIf="!selectedItem" type="submit" class="btn btn-success mr-4" (click)="addNewItem(name.value,amount.value)">Add</button>
    <button *ngIf="selectedItem" type="submit" class="btn btn-success mr-4" (click)="updateItem(name.value,amount.value)">Update</button>
    <button type="submit" class="btn btn-secondary mr-4" (click)="name.value='';amount.value=''">Clear</button>
    <button *ngIf="selectedItem" type="submit" class="btn btn-danger mr-4">Delete</button>
  </div>
  <div class="card mt-4">
      <div class="card-header">
        Shop Items
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"
        *ngFor="let shopItem of listShopItems"
        [class.active]="shopItem===selectedItem"
        (click)="onSelect(shopItem)">       
        <p class="card-text">{{shopItem.name}}({{shopItem.amount}})</p> 
      </li>
      </ul>
    </div>
</div>
