<div class="container">
  <form class="mt-4">
    <div class="form-row">
      <div class="col">
        <label class="ml-2">Name</label>
        <input  type="text" class="form-control" placeholder="Name" value="{{selectedItem?selectedItem.name:''}}" #name>
      </div>
      <div class="col-2">
        <label class="ml-2">Amount</label>
        <input  type="number" class="form-control" placeholder="Amount" value="{{selectedItem?selectedItem.amount:''}}" #amount>
      </div>
    </div>
  </form>
  <div class="mt-3">
    <button *ngIf="!selectedItem" 
            type="button" 
            class="btn btn-success mr-4" 
            (click)="addNewItem(name.value,amount.value);name.value='';amount.value=''">Add</button>
    <button *ngIf="selectedItem" 
            type="button" 
            class="btn btn-success mr-4" 
            (click)="selectedItem=undefined">New Item</button>
    <button *ngIf="selectedItem" 
            type="button" 
            class="btn btn-success mr-4" 
            (click)="updateItem(name.value,amount.value)">Update</button>
    <button type="button" 
            class="btn btn-secondary mr-4" 
            (click)="name.value='';amount.value=''">Clear</button>
  </div>
  <div class="card mt-4">
      <div class="card-header">
        Shop Items
      </div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let shopItem of listShopItems"
            [class.active]="shopItem===selectedItem"
            [class.list-group-item-dark]="itemcheckbox.checked===!checked"
            (click)="onSelect(shopItem)"
            appHover>     
          <div class="row">
          <div class="col-1">
            <input type="checkbox" 
                   class="checkbox-isPurchased" 
                   aria-label="Checkbox for following text input"  
                   [(ngModel)]="shopItem.isPurchased"            
                   #itemcheckbox> 
          </div>
          <div class="col-7">
                <p class="card-text font-weight-bold text-capitalize" 
                   [style.text-decoration]="shopItem.isPurchased ? 'line-through': 'none' "
                   [style.text-decoration-style]="shopItem.isPurchased ? 'double': 'none' ">{{shopItem.name}}</p>                   
          </div>   
          <div class="col-2">
            <span class="badge badge-primary badge-pill ml-3">{{shopItem.amount}}</span> 
          </div>   
          <div class="col-2">
            <button class="btn btn-secondary" type="button" (click)="removeItem(shopItem)">Remove</button>
          </div>                 
        </div>        
      </li>
      </ul>
    </div>
</div>
