.alert-container{
    margin-left: 20rem;
    margin-top: 0;
    margin-bottom: 0;
}
.hovered{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.1s all;
    z-index: 100;
    border-radius: 5px;
}
