
  <nav class="navbar navbar-expand-lg  navbar-dark bg-secondary fixed-top rounded">
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"
          #recipesLink
          id="recipesLink"
          (click)="onSelect('Recipes')"
          [class.active]="current=='Recipes'"
          appHover>
           <a class="nav-link" routerLink="/recipes">Recipes
             <span class="badge badge-primary badge-pill">{{recipesCount}}</span>
           </a>
      </li>
      <li class="nav-item ml-3"
          #shopItemsLink
          (click)="onSelect('ShopList')"
          [class.active]="current=='ShopList'"
          appHover>
           <a class="nav-link" routerLink="/shopinglist">Shopping List
             <span class="badge badge-primary badge-pill">{{shopListCount}}</span>
           </a>
      </li>
      <li class="nav-item ml-3"
      #ingredientsLink
      (click)="onSelect('Ingredients')"
      [class.active]="current=='Ingredients'">
       <a class="nav-link" routerLink="/ingredients"
       appHover>Ingredients
         <span class="badge badge-primary badge-pill">{{ingredientsCount}}</span>
       </a>
  </li>
    </ul>
    <div class="alert" 
         role="alert" 
         *ngFor="let item of messages"
         [ngClass]="{'alert-action':item.isMessageShow,
                     'alert-success':item.type==='alert-success',
                     'alert-danger':item.type==='alert-danger',
                     'alert-warning':item.type==='alert-warning'}">
      {{item.message}}
    </div>
  </div>
</div>
</nav>
