
.alert{
    margin-left: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
    transform: scale(1);
    /* transition: width 4s, height 4s all; */
    /* animation-iteration-count: 1;    */
}
.alert-action{   
    animation-name: alert-animation;
    animation-duration: 3s;
    -webkit-animation-name: alert-animation;
    -webkit-animation-duration: 3s;
}
@-webkit-keyframes alert-animation {
    0%   {top:0px;left:0px;}
    45%  {top:50px;left:250px;  visibility: visible; opacity: 0.7;transform: rotate(0deg) scale(1.5);}
    50%  {top:50px;left:250px;  visibility: visible; opacity: 0.7;transform: rotate(10deg) scale(1.5);}
    55%  {top:50px;left:250px;  visibility: visible; opacity: 0.7;transform: rotate(-10deg) scale(1.5);}
    100% {top:-100px;left:500px;  visibility: visible; opacity: 0.1;transform: rotate(10deg) scale(0.5);}
}
@keyframes alert-animation {
    0%   {top:0px;left:0px;}
    45%  {top:50px;left:250px;  visibility: visible; opacity: 0.7;transform: rotate(0deg) scale(1.5);}
    50%  {top:50px;left:250px;  visibility: visible; opacity: 0.7;transform: rotate(10deg) scale(1.5);}
    55%  {top:50px;left:250px;  visibility: visible; opacity: 0.7;transform: rotate(-10deg) scale(1.5);}
    100% {top:-100px;left:500px;  visibility: visible; opacity: 0.1;transform: rotate(10deg) scale(0.5);}
}
.hovered{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.1s all;
    z-index: 100;
    border-radius: 5px;
}
