<div class="container" id="search-component">
    <div class="row mt-5 mb-3">
        <div class="col col-lg-6">    
            <div class="alert alert-primary" role="alert">
                <h5>Life Search</h5>
              </div>       
              <div class="dropdown show">
                <input #searchBox id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                       type="text"
                       class="dropdown-toggle" 
                       class="form-control dropdown" 
                       placeholder="Name" 
                      (keyup)="search(searchBox.value)">
                <div *ngIf="recipes$ && recipes$.length > 0" class="dropdown-menu show" aria-labelledby="dropdownMenuLink">
                    <a *ngFor="let recipe of recipes$ | async"
                       class="dropdown-item" 
                       href="#">{{recipe.name}}</a>
                </div>
              </div>         
          </div>
          <!-- <ul class="list-group">
              <li class="list-group-item" *ngFor="let recipe of recipes$ | async">
                <a >
                  {{recipe.name}}
                </a>
              </li>
            </ul> -->
</div>
 

  
</div>

