<div  id="search-component">  
  <div class="alert alert-primary" role="alert">
    <h5>Life Search</h5>
  </div>       
    <div class="dropdown show">
      <input #searchBox id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
             type="text"
             class="dropdown-toggle" 
             class="form-control dropdown" 
             placeholder="Name" 
             (keyup)="search(searchBox.value)">
        <div *ngIf="(recipes$ | async)?.length > 0" class="dropdown-menu show" aria-labelledby="dropdownMenuLink">
          <a *ngFor="let recipe of recipes$ | async"
             class="dropdown-item" 
             (click)="onSelect(recipe);searchBox.value=''">{{recipe.name}}</a>
        </div>
  </div>  
</div>

