li{
    cursor:pointer;
}
.hovered{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    z-index: 100;
}
img{
    width: 50px;
    height: 50px;
}
footer{
    min-width: 70px;
}