<div class="card mycard">
  <form  id="recipe-form">
    <h5 class="card-header">Recipe</h5>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" placeholder="name" value="{{recipe?recipe.name:''}}" type="text" #name>
      </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" 
             placeholder="description" 
             value="{{recipe?recipe.description:''}}" 
             type="text" 
             #description>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input class="form-control" 
               placeholder="image" 
               value="{{recipe?recipe.image:''}}" 
               type="text" 
               #image>
      </div>
    <div class="form-group">
      <label>Ingridients</label>
      <button class="ml-3" (click)="addIngredient()">+</button>
      <ul class="list-group list-group-flush" 
          *ngIf="!recipe">
          <li class="list-group-item" 
              *ngFor="let item of listOfIngredients">
              <div class="row">
                  <div class="col-10">
                    <input class="form-control" 
                           placeholder="ingredient" 
                           value="{{item.name}}"
                           type="text" 
                           #ingredient
                           (keyup)="onKey($event.target.value,item)">
                  </div>    
                  <div class="col-2">
                      <button (click)="removeIngredient(i,item.name)">-</button>
                  </div>                           
              </div>
              
          </li>
      </ul>
      <ul class="list-group list-group-flush" 
          *ngIf="recipe">
        <li class="list-group-item" 
          *ngFor="let item of recipe.ingredients">
          <div class="row">
            <div class="col-10">
              <input class="form-control" 
                     placeholder="ingredient" 
                     value="{{item.name}}"
                     type="text" 
                     #ingredient
                     (keyup)="onKey($event.target.value,item)">
            </div>    
            <div class="col-2">
                <button (click)="removeIngredient(i,item.name)">-</button>
            </div>                           
        </div>
        </li>
      </ul>
    </div>
    <button type="button" 
            *ngIf="!recipe"
            class="btn btn-primary mb-2" 
            (click)="addNewRecipe(name.value,description.value,image.value);name.value=''; description.value=''; listOfIngredients=[]">Add</button>
    <button type="button" 
            *ngIf="recipe"
            class="btn btn-primary mb-2" 
            (click)="updateRecipe(name.value,description.value,image.value)">Update</button>
    <button type="button" 
            *ngIf="recipe"
            class="btn btn-danger mb-2 ml-3" 
            (click)="deleteRecipe()">Delete</button>
  </form>
</div>
